body {
	font-family: 'Lato', sans-serif;
}


.showOfflineNotification { 
	background-color: red;
	color: white;
	text-align: center;
	z-index: 101; 
}
.showMessageNotification { 
	background-color: blue;
	color: white;
	text-align: center;
	z-index: 101; 
}
.hideOfflineNotification { 
	display:none; 
}